.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #46abd3;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*
.img-react{
  width: 100%;
}
*/

body{
  margin: 0px;
  background-image: url(https://media.bitdegree.org/storage/media/images/2018/10/The-Most-Essential-React-Interview-Questions.jpg);
  color: white;
}

#div-info{
  background-color: rgba(8, 8, 56, 0.5);
  align-items: center;
  justify-content: center;
  min-height: 400px;
  width: 800px;
  display: flex;
  /*flex-direction: column;*/
  padding-top:20px;
  margin: auto;
}
/*Funciona com o rodapé no final da página mesmo dando zoom. Não mudar nada. fazer o favor.*/
footer{
  background-color: #46abd3;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
